<div class="bg-img">
    <div class="container">
        <mat-card class="my-card content">
            <mat-card-title>Registration</mat-card-title>
            <mat-card-content>
                <form class="my-form" [formGroup]="userRegisterForm">
                    <mat-form-field class="full-width">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="First name" name="fname" formControlName="userFirstName" required>
                        <mat-error *ngIf="userRegisterForm.controls.userFirstName?.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Last Name" name="lname" formControlName="userLastName" required>
                        <mat-error *ngIf="userRegisterForm.controls.userLastName?.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Phone Number</mat-label>
                        <input matInput placeholder="Phone Number" name="PhoneNumber" formControlName="phoneNumber">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" name="email" formControlName="email" required>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" name="password" formControlName="password" required>
                    </mat-form-field>
                    <button mat-raised-button (click)="register()" name="Register" class="button-size" color="primary">REGISTER</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>