<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="secondary" *ngIf="!loginService.isLoggedIn()">
    <mat-toolbar-row>

        <span><h2>VIEWTUBE-Watch Online</h2></span>
        <div class="container">
            <span class="spacer"></span>
            <div class="topnav">
                <a button routerLink="/register">Register</a>

                <a button routerLink="/login">Login</a>
            </div>
        </div>






    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>